@charset "utf-8";

h2 {
	font-size: 1em;
	font-family: amaranth;
	font-style: normal;
	font-weight: 400;
}

body {
	margin-right: auto;
	margin-left: auto;
	width:80%;
		
}

.navbar {
	font-size: 2em;
	font-family: league-gothic;
	font-style: normal;
	font-weight: 400;
	background-color: rgba(108,108,108,1.00);
	color: rgba(255,255,255,1.00);
	text-align: center;
	
}
.navbar ul {
	max-height: none;
	list-style-position: outside;
	font-family: league-gothic;
	font-style: normal;
	font-weight: 400;
}

.links li {
	display: inline-block;
	padding-right: 0px;	
	margin-left: 4.5%;
    margin-right: 4.5%;

}
